/*
---------------------------------------- 
              palette
---------------------------------------- 
https://coolors.co/1d2431-222c3e-00a6a6-9d858d-907f9f
https://mycolor.space/?hex=%230F1A2E&sub=1
https://coolors.co/1d2431
https://paletton.com/#uid=7000u0kllll0eikaMjPvUmQ+mom
*/
/*
---------------------------------------- 
              size
---------------------------------------- 
*/
/*
---------------------------------------- 
              build
---------------------------------------- 
*/
/*
===================================================== 
              App Level
===================================================== 
tag : div
*/
body {
  position: fixed;
  width: 100vw;
  height: 100vh; }

.app {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.app-topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px; }

.app-main {
  position: fixed;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0; }

/*
=====================================================
             header-part
===================================================== 
tag : span
*/
.app-topbar > .left-part {
  display: block;
  float: left;
  height: 40px;
  width: 40%; }

.app-topbar > .right-part {
  display: block;
  float: right;
  height: 40px; }

.app-topbar > .center-part {
  display: block;
  float: left;
  height: 40px;
  width: 50%; }

/*
===================================================== 
            content part       
===================================================== 
*/
.app-current-path {
  position: absolute;
  top: 0;
  left: 250px;
  right: 0;
  height: 20px; }

.app-left-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px; }

.app-content {
  position: absolute;
  top: 20px;
  bottom: 0;
  right: 0;
  left: 250px; }

/*
===================================================== 
            Node description      
===================================================== 
*/
.node-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 30%; }

.node-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30%; }

.node-title {
  position: absolute;
  top: 0;
  height: 60px;
  left: 0;
  right: 0; }

.node-data {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 120px; }

i {
  font-size: 22px;
  color: white;
  margin-right: 10px; }

h1 {
  font-size: 25px;
  color: white; }

h2 {
  width: 100%;
  font-size: 18px;
  color: white; }

h3 {
  width: 100%;
  font-size: 15px;
  color: white; }

h1 > i, h2 > i {
  color: white;
  margin-left: 10px;
  margin-right: 10px; }

button {
  all: unset;
  width: 60px;
  margin-right: 10px;
  height: 30px;
  font-size: 12px;
  background-color: #1D2431;
  color: #8C8195;
  border: 1px solid #8C8195;
  border-radius: 5px;
  text-align: center; }

button:hover {
  color: white;
  border: 1px solid white; }

table {
  width: 100%;
  border: 1px solid #5D626D;
  background-color: #1D2431;
  font-size: 15px; }

tr {
  width: 100%; }

td {
  padding: 10px;
  padding-left: 20px;
  border: 1px solid #5D626D; }

.markdown h1 {
  font-size: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  Xborder-bottom: 1px solid white; }

.markdown h2 {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid white; }

.markdown h3 {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #222c3eff; }

.markdown > p, .markdown > ul, .markdown > img, .markdown > video, .markdown > iframe {
  width: 100%;
  padding: 0px;
  margin: 30px;
  margin-bottom: 0; }

.markdown > ul {
  margin-left: 40px; }

.markdown pre {
  padding: 15px;
  margin: 30px;
  border: 1px solid #222c3eff;
  background-color: grey; }

.markdown button {
  width: 250px; }

.tree i {
  font-size: 15px;
  color: #5D626D;
  color: white; }

.tree ul {
  padding: 0;
  margin: 0; }

.tree li {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-left: 20px; }

.tree li > span {
  width: 100%;
  margin-bottom: 15px;
  color: white; }

.tree li > span:hover {
  color: #8C8195; }

.tree li > span:hover i {
  color: #8C8195; }

body {
  background-color: white;
  color: white; }

.app-topbar {
  padding: 2px;
  background-color: #05080F;
  color: grey;
  border-bottom: 1px solid #222c3eff; }

.app-topbar i {
  padding-top: 5px;
  font-size: 22px;
  color: #8C8195;
  margin-right: 10px; }

.app-topbar i:hover {
  color: white; }

.app-main {
  background-color: #0A111F;
  color: white; }

.app-current-path {
  border-bottom: 1px solid #222c3eff;
  color: #8C8195; }

.app-current-path i {
  font-size: 12px; }

.app-current-path > span:hover {
  color: white; }

.app-left-bar {
  background-color: #0F1A2E;
  border-right: 1px solid #222c3eff;
  color: white; }

.node-title {
  border-bottom: 1px solid #222c3eff; }

.node-title span > i {
  color: #8C8195; }

.node-title span > i:hover {
  color: white; }

.content {
  margin-bottom: 120px;
  width: 100%; }

.children {
  border-bottom: 1px solid #222c3eff; }

.children:hover {
  color: #8C8195;
  border-bottom: 1px solid #8C8195; }

.children:hover * {
  color: #8C8195; }

#SearchBar {
  all: unset;
  padding: 0;
  padding-left: 20px;
  margin: 0;
  border-radius: 18px;
  border: 1px solid #222c3eff;
  width: 350px;
  height: 22px;
  background-color: #191B22; }

#SearchBar:hover {
  background-color: #5D626D; }

#NodeTree {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30%;
  border-left: 1px solid #222C3E; }

#NodeHeader > h1 {
  display: block;
  float: left;
  width: calc(100%-300px); }

#NodeHeader > span {
  display: block;
  float: right; }

#NodeHeader button {
  margin-top: 10px; }

#NodeHeader span {
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px; }

#NodeHeaderX i {
  color: white;
  Xfont-size: 30px; }

#NodeHeaderX i:hover {
  color: #1D2431; }

#NodeAttributes .attr {
  width: 20%; }

#NodeAttributes .data {
  width: 60%; }

#NodeAttributes .ctrl {
  width: 20%; }

.node-bar {
  overflow-x: hidden;
  overflow-y: scroll; }

.node-bar .content {
  margin-top: 30px;
  margin-bottom: 30px; }

#NodeTreeHeader {
  border-bottom: 1px solid #222C3E; }

.xml-table {
  width: 50%;
  margin: 0px;
  margin-left: 55px; }

.xml-table tr {
  border-bottom: 1px solid #5D626D; }

.xml-table .attr {
  width: 30%; }

.xml-table .data {
  width: 70%; }

.xml-content li {
  list-style: none; }

/*# sourceMappingURL=style.css.map */
