i{
    font-size:22px;
    color:$color-icon;
    margin-right:10px;
}

 h1{
    font-size:25px;
    color:white;
}


 h2{

    width:100%;
    font-size:18px;
    color:white;
}

 h3{

    width:100%;
    font-size:15px;
    color:white;
}

 h1 > i,h2 > i{

    color:white;
    margin-left:10px;
    margin-right:10px;
}

button{
  all: unset;
    width:60px;
    margin-right:10px;
    height:30px;
    font-size:12px;
    background-color:#1D2431;
    color:$color-selectable;
    border:1px solid $color-selectable;
    border-radius:5px;
    text-align:center;
}

button:hover{
    color:$color-selected;
    border:1px solid $color-selected;
}

table{
    width:100%;


    border:1px solid #5D626D;
    background-color:#1D2431;
    font-size:15px;
}
tr{
width:100%;
}
td{
    padding:10px;
    padding-left:20px;
    border:1px solid #5D626D;
}
