body{
    background-color:$color-icon;
    color:white;
}
.app-topbar{
    padding:2px;
    background-color:$color-4;
    color:grey;
    border-bottom:1px solid $color-border;
}

.app-topbar i{
    padding-top:5px;
    font-size:22px;
    color:$color-selectable;
    margin-right:10px;
}
.app-topbar i:hover{
    color:$color-selected;
}
.app-main{
    background-color:$color-3;
    color:$color-0;
}

.app-current-path{
    border-bottom:1px solid $color-border;
    color:$color-selectable;
}
.app-current-path i{
    font-size:12px;
}

.app-current-path > span:hover{
    color:$color-selected;
}

.app-left-bar{
    background-color:$color-2;
    border-right:1px solid $color-border;
    color:$color-icon;
}

.node-title{
    border-bottom:1px solid $color-border;
}

.node-title span > i{

    color:$color-selectable;

}
.node-title span >  i:hover{
      color:$color-selected;
}
