.markdown h1{
font-size:40px;
margin-top:15px;
margin-bottom:15px;
padding-top:15px;
padding-bottom:15px;
text-align:center;
Xborder-bottom:1px solid white;
}


.markdown h2{
font-size:30px;
margin-top:15px;
margin-bottom:15px;
padding-top:15px;
padding-bottom:15px;
border-bottom:1px solid white;
}

.markdown h3{
font-size:20px;
margin-top:15px;
margin-bottom:15px;
padding-top:15px;
padding-bottom:15px;
border-bottom:1px solid $color-border;
}

.markdown > p,.markdown > ul,.markdown > img,.markdown > video,.markdown > iframe{
width:100%;
padding:0px;
margin:30px;
margin-bottom: 0;
}

.markdown > ul{
    margin-left:40px;
}

.markdown pre{
padding:15px;
margin:30px;
border:1px solid $color-border;
background-color:grey;
}

.markdown button{
    width:250px;
}

