/*
---------------------------------------- 
              palette
---------------------------------------- 
https://coolors.co/1d2431-222c3e-00a6a6-9d858d-907f9f
https://mycolor.space/?hex=%230F1A2E&sub=1
https://coolors.co/1d2431
https://paletton.com/#uid=7000u0kllll0eikaMjPvUmQ+mom
*/
$raisin-black: #1d2431ff;
$prussian-blue: #222c3eff;
$light-sea-green: #00a6a6ff;
$mountbatten-pink: #9d858dff;
$glaucous: #6a7fdbff;


$color-0:white;
$color-1:#1D2431;
$color-2:#0F1A2E;
$color-3:#0A111F;
$color-4:#05080F;

$color-icon:#5D626D;
$color-icon:#83cf7a;
$color-icon:#BE7C4D;
$color-icon:#00A6A6;
$color-icon:#6A7FDB;
$color-icon:white;

$color-border:$prussian-blue;

$color-selectable:#8C8195;
$color-selected:white;
/*
---------------------------------------- 
              size
---------------------------------------- 
*/
$header-height:40px;
$left-bar-width:250px;
$current-path-height:20px;
$node-bar-width:30%;
$node-title-height:60px;
$node-data-margin:120px;
/*
---------------------------------------- 
              build
---------------------------------------- 
*/
@import "./structure.scss";
@import "./base.scss";
@import "./content.scss";
@import "./tree.scss";
@import "./colors.scss";

.content{
    margin-bottom:120px;
    width:100%;
}

.children{

    border-bottom:1px solid $color-border;
}
.children:hover{

    color:$color-selectable;
    border-bottom:1px solid $color-selectable;
}

.children:hover *{

    color:$color-selectable;
}

#SearchBar{
  all: unset;
    padding:0;
    padding-left:20px;
    margin:0;

    border-radius:18px;
    border:1px solid $color-border;
    width:350px;
    height: 22px;
    background-color:#191B22;
}

#SearchBar:hover{
background-color:#5D626D;
}





#NodeContent{

}

#NodeTree{
  position: absolute;
    top:0;
    bottom:0;
    right:0;
width:30%;
    border-left:1px solid #222C3E;
}


#NodeHeader{

}

#NodeHeader >  h1{
    display:block;
    float: left;
    width:calc(100%-300px);
}

#NodeHeader > span{
 display:block;
    float: right;
}




#NodeHeader button{

    margin-top:10px;

}
#NodeHeader span{
margin-top:10px;
margin-right:5px;
margin-left:5px;
}
#NodeHeaderX i{
color:white;
    Xfont-size:30px;

}

#NodeHeaderX i:hover{

color:#1D2431;
}

#NodeData{

}



#NodeAttributes{
}


#NodeAttributes .attr { 
    width:20%;
}
#NodeAttributes .data{ 
    width:60%;
}
#NodeAttributes .ctrl{ 
    width:20%;
}

.node-bar{
    overflow-x:hidden;
    overflow-y:scroll;
}
.node-bar .content{
    margin-top:30px;
    margin-bottom:30px;
}

#NodeTreeHeader{
    border-bottom:1px solid #222C3E;
}





.xml-table{
width:50%;
margin:0px;
margin-left:55px;
}
.xml-table tr{
    border-bottom:1px solid #5D626D;
}
.xml-table .attr{
width:30%;
}
.xml-table .data{
width:70%;
}

.xml-content li{
   list-style: none;
}
