/*
===================================================== 
              App Level
===================================================== 
tag : div
*/



body{
    position:fixed;
    width:100vw;
    height:100vh;
}

.app{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.app-topbar{
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:$header-height;

}

.app-main{
    position:fixed;
    top:$header-height;
    bottom:0;
    left:0;
    right:0;
}

/*
=====================================================
             header-part
===================================================== 
tag : span
*/

.app-topbar > .left-part{
    display:block;
    float: left;
    height:$header-height;
    width:40%;
}
.app-topbar > .right-part{
    display:block;
    float: right;
    height:$header-height;
}

.app-topbar > .center-part{
    display:block;
    float: left;
    height:$header-height;
    width:50%;
}

/*
===================================================== 
            content part       
===================================================== 
*/

.app-current-path{
    position: absolute;
    top:0;
    left:$left-bar-width;
    right:0;
    height:$current-path-height;
}

.app-left-bar{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    width:$left-bar-width;
}

.app-content{
    position: absolute;
    top:$current-path-height;
    bottom:0;
    right:0;
    left:$left-bar-width;
}

/*
===================================================== 
            Node description      
===================================================== 
*/



.node-content{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:$node-bar-width;
}

.node-bar{
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    width:$node-bar-width;
}


.node-title{
    position: absolute;
    top:0;
    height:$node-title-height;
    left:0;
    right:0;
}

.node-data{
    position: absolute;
    top:$node-title-height;
    bottom:0;
    left:0;
    right:0;
    overflow-x:hidden;
    overflow-y:scroll;
    padding:$node-data-margin;

}



