
.tree i{
    font-size:15px;
    color:#5D626D;
    color:white;
}
.tree ul{
    padding:0;
    margin:0;
}
.tree li{
    padding:0;
    margin:0;
   list-style: none;
    padding-left:20px;
}
.tree li > span{
    width:100%;
    margin-bottom:15px;
    color:white;
}
.tree li > span:hover{
    color:$color-selectable;
}

.tree li > span:hover i{

    color:$color-selectable;
}
